<div id="14" class="grid-item Apple border" style="position: absolute; left: 0px; top: 0px;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="14">
        <a href="#"><img src="../static/assets/products/14.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Apple iPhone 10</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹89000</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="1" class="grid-item Samsung border" style="position: absolute; left: 221.2px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="1">
        <a href="#"><img src="../static/assets/products/1.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Samsung Galaxy 10</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹29999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="2" class="grid-item Redmi border" style="position: absolute; left: 221.2px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="2">
        <a href="#"><img src="../static/assets/products/2.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 7 Pro</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹11999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="11" class="grid-item Apple border" style="position: absolute; left: 221.2px; top: 0px;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="11">
        <a href="#"><img src="../static/assets/products/11.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Apple iPhone 5</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹25000</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="9" class="grid-item Samsung border" style="position: absolute; left: 442.4px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="12">
        <a href="#"><img src="../static/assets/products/12.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Samsung Galaxy S6</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹24990</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="15" class="grid-item  Redmi border " style="position: absolute; left: 442.4px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="15">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/15.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Redmi Note 10 pro</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹17999</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="6" class="grid-item  Redmi border " style="position: absolute; left: 442.4px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="6">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/6.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Redmi Note 8</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹12999</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<div id="8" class="grid-item  Redmi border " style="position: absolute; left: 442.4px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="8">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/8.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Redmi Note 10</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹13999</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<div id="7" class="grid-item  Redmi border" style="position: absolute; left: 442.4px; top: 0px; display: none;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="10">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/10.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Redmi Note 9</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹12999</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<div id="13" class="grid-item Apple border  " style="position: absolute; left: 442.4px; top: 0px;">
  <div class="item py-2" style="width: 200px;">
    <div class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="13">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/13.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Apple iPhone 7</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹42900</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>