<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="11" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="11">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/11.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Apple iPhone 5</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹25000</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="12" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="12">
        <a href="#"><img src="../static/assets/products/12.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Apple iphone 6</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹34900</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="13" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="13">
        <a href="#"><img src="../static/assets/products/13.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Apple iPhone 7</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹42900</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="1" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="1">
        <a href="#"><img src="../static/assets/products/1.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Samsung Galaxy 10</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹29999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="6" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="6">
        <a href="#"><img src="../static/assets/products/6.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 8</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹12999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="7" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="3">
        <a href="#"><img src="../static/assets/products/3.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 9</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹12999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="owl-item active" style="width: 186px;">
  <div class="item py-2">
    <div id="5" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="5">
        <a href="#"><img src="../static/assets/products/5.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 4</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹9990</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item active" style="width: 186px;">
  <div class="item py-2">
    <div id="10" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="10">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/10.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Samsung Galaxy S7</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹35500</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>



<div class="owl-item cloned active" style="width: 186px;">
  <div class="item py-2">
    <div id="8" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="8">
        <a href="#"><img src="../static/assets/products/8.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 10</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹13999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned active" style="width: 186px;">
  <div class="item py-2">
    <div id="9" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="1">
        <a href="#"><img src="../static/assets/products/1.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Samsung Galaxy S6</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹24990</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned active" style="width: 186px;">
  <div class="item py-2">
    <div id="2" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="2">
        <a href="#"><img src="../static/assets/products/2.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 7</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹11999</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="4" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="4">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/4.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Redmi Note 5</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹11990</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="5" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="5">
        <a href="#"><img src="../static/assets/products/5.png" alt="product1" class="img-fluid"></a>
        <div class="text-center">
          <h6>Redmi Note 4</h6>
          <div class="rating text-warning font-size-12">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
          <div class="price py-2">
            <span>₹9990</span>
          </div>
          <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="owl-item cloned" style="width: 186px;">
  <div class="item py-2">
    <div id="10" class="product font-rale">
      <form class="addtoCartForm">
        <input type="hidden" name="productId" value="10">
        <div class="d-flex flex-column">
          <a href="#"><img src="../static/assets/products/10.png" class="img-fluid" alt="pro1"></a>
          <div class="text-center">
            <h6>Samsung Galaxy S7</h6>
            <div class="rating text-warning font-size-12">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price py-2">
              <span>₹35500</span>
            </div>
            <button type="button" class="btn btn-warning font-size-12 addToCart">Add to Cart</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>